<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/style2.css}" />
    <meta charset="utf-8" />
</head>
<body class="background">
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<img class="mainImage" src="/greenfox2.png" height="10%" width="10%">

<span class="glow" style="color: green; position: absolute; top: 5%; left: 38%">New post</span>
<br><br><br>
<form action="/greddit/addPost" th:object="${post}" method="post">
    <div class="row">
        <span>
            <input maxlength="25" th:field="*{postTitle}" class="gate" id="class" type="text" placeholder="Post title" /><label for="class">Title</label>
        </span>
        <br>
        <span>
            <input class="swing" id="artist" type="text" placeholder="Post url" /><label for="artist">URL</label>
            <br><br><br>
        </span>
        <br>
        <button style="color: black" type="submit" class="btn btn-success btn-lg"><b>Submit</b></button>
    </div>
</form>


</body>
</html>