<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
</head>
<body class="background">
<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<img class="mainImage" src="/greenfox2.png" height="10%" width="10%">

<div class="main-container">
    <div class="first-container share">
        <h1>
            <span id="one">G</span>
            <span>r</span>
            <span>e</span>
            <span>d</span>
            <span>d</span>
            <span>i</span>
            <span>t</span>
        </h1>
    </div>
</div>

<div class="col-sm-3" style="position: absolute; top: 7%">
    <div class="text-center">
        <form action="/greddit/addPost" method="get">
            <button style="color: black" type="submit" class="btn btn-success btn-lg"><b>Submit new post</b></button>
        </form>
    </div>
</div>

<h1 style="position: absolute; left: 41%">
    <br>
    Trending posts
</h1>

<table class="table table-striped table-hover" th:each="post : ${posts}">
    <tr class="row">
        <td class="col-md-1" th:text="${post.getPostTotalVotes()}"></td>
        <td class="col-md-1" th:text="${post.getPostTotalUpvotes()}"></td>
        <td class="col-md-1" th:text="${post.getPostTotalDownvotes()}"></td>
        <td class="col-md-1" th:text="${post.getPostTitle()}"></td>
    </tr>
</table>

</body>
</html>